# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

#carpetas que no voy a subir por verguenza al codigo, igual voy a terminar la idea xD
config
infra
collection
.idea
.vscode
about
go.sum